*.pyc
*/*.pyc
x509up
data
correctionlib*
docs/build
__pycache__/
config/BackupAnalysis/
config/HHBBTT/
config/SMP_VV/
config/old_files/
tasks/__pycache__/
ToRun/env_changes.md
ToRun/env_crash.txt
ToRun/env_works.txt
ToRun/RunNow.sh